/* #article-container ul>li {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-wrap: break-word;
    white-space: normal;
    color: #4c4948;
    margin: 0;
    padding: 1px 8px;
    border-radius: 10px;
    background: hsla(0, 0%, 100%, .1);
    box-shadow: 0 3px 8px 6px rgb(7 17 27/6%);
    transition: all .3s ease 0s;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
} */

/* 说说列表list */
#article-container ul>li {
    margin-bottom: 20px;
    padding: 2px 20px;
    border-radius: 10px;
    background: hsla(0, 0%, 100%, .1);
    box-shadow: 0 3px 8px 6px rgb(7 17 27/6%);
    transition: all .3s ease 0s;
    height: auto;
}

/* 说说列表悬浮效果 */
#article-container ul>li:hover {
    box-shadow: 0 5px 10px 8px rgb(7 17 27/16%);
    transform: translateY(-3px);
}

/* 说说头像 */
#artitalk_main .cbp_tmtimeline>li span[class$="_author_img"] img {
    margin-top: 16px;
}

/* 说收消息内容 */
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    margin: 8px 0 8px 65px !important;
    z-index: 1;
    background: #b9e0ff !important;
    color: black !important;
    padding: 0.8em 1.2em 0.4em 1.2em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display: block;
}

/* 说说消息内容悬浮 */
#artitalk_main .cbp_tmlabel:hover {
    transform: scale(1.05);
    transform: translateY(-0px) !important;
    z-index: 1;
    box-shadow: 0 15px 32px rgb(255 37 37 / 25%);
    /* box-shadow: 0 15px 32px rgba(0,0,0,0.25); */
}

/* 气泡箭头——奇数 */
#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
    /* border-right-color: rgb(255 125 73 / 0%)!important; */
    border-right-color: #b9e0ff !important;
}

/* 气泡箭头 */
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    z-index: -1;
    content: " ";
    height: 0;
    width: 0;
    position: absolute !important;
    pointer-events: none;
    border-right-color: #b9e0ff !important;
    border-width: 10px !important;
    top: 20px !important;
}

/* 消息内容的表情图片 */
#artitalk_main .atemoji {
    margin: 0px auto 0px;
    max-height: 28px;
    width: 28px;
    display: inline;
    vertical-align: middle;
}

/* 加载按钮 */
#operare_artitalk .at_button,
#artitalk_main .at_button {
    background-color: #66afef !important;
    border: none;
    margin-left: 5px;
    color: white;
    padding: 8px 20px !important;
    text-align: center;
    text-decoration: none;
    height: auto;
    line-height: 24px !important;
    display: inline-block;
    font-size: 14px !important;
    border-radius: 8px !important;
    outline: none;
    cursor: pointer;
}

/* 加载按钮悬浮效果 */
#operare_artitalk .at_button:hover,
#artitalk_main .at_button:hover {
    background-color: #ffa949 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}

/* 管理员按钮外框 */
#artitalk_main .power div {
    margin-left: 10px !important;
}

/* 管理员按钮图标 svg */
#artitalk_main .power div svg {
    width: 36px;
    height: 36px;
    padding: 4px;
    border-radius: 10px;
    background-color: #b9e0ff !important;
}

/* 管理员按钮图标悬浮效果 */
#artitalk_main .power div svg:hover {
    background-color: #ffa949 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}